<doctype html>
<html>
<head>
	<title>CS 290 Webpage</title>
</head>
<body>
	{{{body}}}
        <script>

	document.getElementById('updateSubmit').addEventListener('click', function(event){
		console.log("I'm here 3");
  		var req = new XMLHttpRequest();
  		var payload = {id:null,name:null,reps:null,weight:null,date:null,lbs:null}
		payload.name = document.getElementById('name').value;
		payload.reps = document.getElementById('reps').value;
		payload.weight = document.getElementById('weight').value;
		payload.date = document.getElementById('date').value;
		payload.id = document.getElementById('id').value;
		var bool = document.getElementsByName('lbs');
		if(bool[1].checked){
			payload.lbs = 1;
		} else {
			payload.lbs = 0;
		}

  		req.open('POST', 'update-table', true);
  		req.setRequestHeader('Content-Type','application/json');
		req.addEventListener('load',function(){
		if(req.status >= 200 & req.status < 400){
			var response = JSON.parse(req.responseText);
			console.log(response);
		} else {
			console.log("Error in network request: " + req.statusText);
		}});
  		req.send(JSON.stringify(payload));
  		event.preventDefault();
		window.location="http://52.41.137.117:3000/table";
	});

	document.getElementById('workoutSubmit').addEventListener('click', function(event){
		console.log("in here");
		var req = new XMLHttpRequest();
  		var payload = {name:null,reps:null,weight:null,date:null,lbs:null}
  		payload.name = document.getElementById('name').value;
  		payload.reps = document.getElementById('reps').value;
  		payload.weight = document.getElementById('weight').value;
 		payload.date = document.getElementById('date').value;

		var bool = document.getElementsByName('lbs');
		if(bool[1].checked){
			payload.lbs = 1;
		} else {
			payload.lbs = 0;
		}

  		req.open('POST', 'insert-table', true);
  		req.setRequestHeader('Content-Type','application/json');
		req.addEventListener('load', function(){
		  if(req.status >= 200 & req.status < 400){
			var response = JSON.parse(req.responseText);
			console.log(response);
			console.log(response.length);
				
			var table = document.getElementById("table");
			var row = table.insertRow(-1);
			for(i = 0; i < 7; i++) {
				row.insertCell(-1);
			}
			row.childNodes[0].innerHTML = payload.name
			row.childNodes[1].innerHTML = payload.reps
			row.childNodes[2].innerHTML = payload.weight
			row.childNodes[3].innerHTML = payload.date
			row.childNodes[4].innerHTML = payload.lbs
			var form = document.createElement("FORM");
			form.setAttribute("action","edit-table")
			form.setAttribute("method","post")
			row.childNodes[5].appendChild(form);
			var hidden = document.createElement("INPUT")
			hidden.setAttribute("type","hidden")
			hidden.setAttribute("name","id")
			hidden.setAttribute("value",response[response.length-1].id)
			form.appendChild(hidden)
			var edit = document.createElement("INPUT")
			edit.setAttribute("type","submit")
			edit.setAttribute("value","Edit")
			form.appendChild(edit)
			var deletee = document.createElement("BUTTON")
			deletee.setAttribute("type","button")
			deletee.innerHTML = "Delete"
			deletee.setAttribute("onclick","deleteClick(event,"+response[response.length-1].id+")")
			row.childNodes[6].appendChild(deletee)
		
		  } else { 
			console.log("Error in network request: " + req.statusText);
		  }});
		req.send(JSON.stringify(payload));
  		event.preventDefault();
	});

	function deleteClick(event, idDelete){
		console.log("I'm here 2");
		var req = new XMLHttpRequest();
		var payload = {id:null}
		payload.id = idDelete;

		req.open('POST', 'remove-table', true);
		req.setRequestHeader('Content-Type','application/json');
		req.addEventListener('load',function(){
		if(req.status >= 200 & req.status < 400){
			var response = JSON.parse(req.responseText);
		} else {
			console.log("Error in network request: " + request.statusText);
		}});
		req.send(JSON.stringify(payload));
		event.preventDefault();

		i = event.target.parentNode.parentNode.rowIndex;
		document.getElementById('table').deleteRow(i);

		
	};


	</script>
</body>
</html>
